/*
  Icon Font: font-firebrand
*/

@font-face {
  font-family: "font-firebrand";
  src: url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.eot");
  src: url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.woff") format("woff"),
       url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.ttf") format("truetype"),
       url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.svg#font-firebrand") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-firebrand";
    src: url("../fonts/font-firebrand_8b0b8e3a03425b28d1e4c0353b2943e4.svg#font-firebrand") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fb-icon-approve:before,
.fb-icon-arrow-back-down:before,
.fb-icon-arrow-back-left:before,
.fb-icon-arrow-back-right:before,
.fb-icon-arrow-back-up:before,
.fb-icon-clock:before,
.fb-icon-decline:before,
.fb-icon-download:before,
.fb-icon-email:before,
.fb-icon-facebook:before,
.fb-icon-facebook-circle:before,
.fb-icon-flightdeck:before,
.fb-icon-netgalley:before,
.fb-icon-pencil-square-o:before,
.fb-icon-pinterest:before,
.fb-icon-pinterest-circle:before,
.fb-icon-region_icon:before,
.fb-icon-thumbsdown:before,
.fb-icon-thumbsup:before,
.fb-icon-tumblr:before,
.fb-icon-tumblr-circle:before,
.fb-icon-twitter:before,
.fb-icon-twitter-circle:before,
.fb-icon-wishbone:before {
  display: inline-block;
  font-family: "font-firebrand";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fb-icon-approve:before { content: "\f116"; }
.fb-icon-arrow-back-down:before { content: "\f112"; }
.fb-icon-arrow-back-left:before { content: "\f113"; }
.fb-icon-arrow-back-right:before { content: "\f114"; }
.fb-icon-arrow-back-up:before { content: "\f115"; }
.fb-icon-clock:before { content: "\f106"; }
.fb-icon-decline:before { content: "\f117"; }
.fb-icon-download:before { content: "\f107"; }
.fb-icon-email:before { content: "\f108"; }
.fb-icon-facebook:before { content: "\f109"; }
.fb-icon-facebook-circle:before { content: "\f10a"; }
.fb-icon-flightdeck:before { content: "\f100"; }
.fb-icon-netgalley:before { content: "\f118"; }
.fb-icon-pencil-square-o:before { content: "\f105"; }
.fb-icon-pinterest:before { content: "\f10b"; }
.fb-icon-pinterest-circle:before { content: "\f10c"; }
.fb-icon-region_icon:before { content: "\f119"; }
.fb-icon-thumbsdown:before { content: "\f101"; }
.fb-icon-thumbsup:before { content: "\f102"; }
.fb-icon-tumblr:before { content: "\f10d"; }
.fb-icon-tumblr-circle:before { content: "\f10e"; }
.fb-icon-twitter:before { content: "\f10f"; }
.fb-icon-twitter-circle:before { content: "\f110"; }
.fb-icon-wishbone:before { content: "\f103"; }
