/*
  Icon Font: font-firebrand
*/

@font-face {
  font-family: "font-firebrand";
  src: url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.eot");
  src: url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.woff") format("woff"),
       url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.ttf") format("truetype"),
       url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.svg#font-firebrand") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-firebrand";
    src: url("../fonts/font-firebrand_709c2a4caa3a1c33da9093bec0628eed.svg#font-firebrand") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fb-icon-flightdeck:before,
.fb-icon-thumbsdown:before,
.fb-icon-thumbsup:before,
.fb-icon-wishbone:before {
  display: inline-block;
  font-family: "font-firebrand";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fb-icon-flightdeck:before { content: "\f100"; }
.fb-icon-thumbsdown:before { content: "\f101"; }
.fb-icon-thumbsup:before { content: "\f102"; }
.fb-icon-wishbone:before { content: "\f103"; }
