//
// Icon Font: font-firebrand
//

@font-face {
  font-family: "font-firebrand";
  src: url("#{$font-firebrand-path}/font-firebrand.eot");
  src: url("#{$font-firebrand-path}/font-firebrand.eot?#iefix") format("embedded-opentype"),
       url("#{$font-firebrand-path}/font-firebrand.woff2") format("woff2"),
       url("#{$font-firebrand-path}/font-firebrand.woff") format("woff"),
       url("#{$font-firebrand-path}/font-firebrand.ttf") format("truetype"),
       url("#{$font-firebrand-path}/font-firebrand.svg#font-firebrand") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-firebrand";
    src: url("#{$font-firebrand-path}/font-firebrand.svg#font-firebrand") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fb-icon-amazon:before,
.fb-icon-approve:before,
.fb-icon-arrow-back-down:before,
.fb-icon-arrow-back-left:before,
.fb-icon-arrow-back-right:before,
.fb-icon-arrow-back-up:before,
.fb-icon-audio_excerpt:before,
.fb-icon-barnesandnoble:before,
.fb-icon-bn:before,
.fb-icon-bolt-book:before,
.fb-icon-camera:before,
.fb-icon-cat-down:before,
.fb-icon-cat-up:before,
.fb-icon-check-circle:before,
.fb-icon-check-circle-o:before,
.fb-icon-clock:before,
.fb-icon-decline:before,
.fb-icon-digital:before,
.fb-icon-digital-circle:before,
.fb-icon-document:before,
.fb-icon-document-circle:before,
.fb-icon-download:before,
.fb-icon-email:before,
.fb-icon-excerpt:before,
.fb-icon-facebook:before,
.fb-icon-facebook-circle:before,
.fb-icon-facebook-square:before,
.fb-icon-facebook-square-o:before,
.fb-icon-filter:before,
.fb-icon-fingerprint:before,
.fb-icon-fingerprint-book:before,
.fb-icon-fingerprint-download-circle:before,
.fb-icon-flightdeck:before,
.fb-icon-gear:before,
.fb-icon-goodreads:before,
.fb-icon-goodreads-square:before,
.fb-icon-goodreads-square-o:before,
.fb-icon-graph:before,
.fb-icon-graph-circle:before,
.fb-icon-indie:before,
.fb-icon-info:before,
.fb-icon-info-circle:before,
.fb-icon-info-circle-o:before,
.fb-icon-insights-logo:before,
.fb-icon-kobo:before,
.fb-icon-linkedin:before,
.fb-icon-linkedin-square:before,
.fb-icon-linkedin-square-o:before,
.fb-icon-map-pin:before,
.fb-icon-mute:before,
.fb-icon-netgalley:before,
.fb-icon-netgalley-circle:before,
.fb-icon-netgalley-full:before,
.fb-icon-nut-down:before,
.fb-icon-nut-up:before,
.fb-icon-open-book:before,
.fb-icon-pencil:before,
.fb-icon-pencil-square-o:before,
.fb-icon-pencil-vertical:before,
.fb-icon-pinterest:before,
.fb-icon-pinterest-circle:before,
.fb-icon-plus-circle:before,
.fb-icon-plus-circle-o:before,
.fb-icon-protected:before,
.fb-icon-protected-download-circle:before,
.fb-icon-stamp:before,
.fb-icon-stopwatch:before,
.fb-icon-tablet:before,
.fb-icon-tachometer:before,
.fb-icon-thermometer:before,
.fb-icon-thermometer-circle:before,
.fb-icon-thumbsdown:before,
.fb-icon-thumbsup:before,
.fb-icon-tiktok-square:before,
.fb-icon-tiktok-square-o:before,
.fb-icon-tumblr:before,
.fb-icon-tumblr-circle:before,
.fb-icon-twitter:before,
.fb-icon-twitter-alt:before,
.fb-icon-twitter-alt-circle:before,
.fb-icon-twitter-square:before,
.fb-icon-twitter-square-o:before,
.fb-icon-user-admin:before,
.fb-icon-user-plus:before,
.fb-icon-user-profile:before,
.fb-icon-verified:before,
.fb-icon-waterstones:before,
.fb-icon-waterstones-caption:before,
.fb-icon-wave-circle:before,
.fb-icon-wave-circle-o:before,
.fb-icon-wishbone:before,
.fb-icon-wishbone-circle:before {
  display: inline-block;
  font-family: "font-firebrand";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fb-icon-amazon:before { content: "\f12a"; }
.fb-icon-approve:before { content: "\f116"; }
.fb-icon-arrow-back-down:before { content: "\f112"; }
.fb-icon-arrow-back-left:before { content: "\f113"; }
.fb-icon-arrow-back-right:before { content: "\f114"; }
.fb-icon-arrow-back-up:before { content: "\f115"; }
.fb-icon-audio_excerpt:before { content: "\f162"; }
.fb-icon-barnesandnoble:before { content: "\f136"; }
.fb-icon-bn:before { content: "\f12b"; }
.fb-icon-bolt-book:before { content: "\f125"; }
.fb-icon-camera:before { content: "\f130"; }
.fb-icon-cat-down:before { content: "\f148"; }
.fb-icon-cat-up:before { content: "\f149"; }
.fb-icon-check-circle:before { content: "\f159"; }
.fb-icon-check-circle-o:before { content: "\f15a"; }
.fb-icon-clock:before { content: "\f106"; }
.fb-icon-decline:before { content: "\f117"; }
.fb-icon-digital:before { content: "\f14e"; }
.fb-icon-digital-circle:before { content: "\f14f"; }
.fb-icon-document:before { content: "\f14b"; }
.fb-icon-document-circle:before { content: "\f150"; }
.fb-icon-download:before { content: "\f107"; }
.fb-icon-email:before { content: "\f108"; }
.fb-icon-excerpt:before { content: "\f163"; }
.fb-icon-facebook:before { content: "\f109"; }
.fb-icon-facebook-circle:before { content: "\f10a"; }
.fb-icon-facebook-square:before { content: "\f13b"; }
.fb-icon-facebook-square-o:before { content: "\f13c"; }
.fb-icon-filter:before { content: "\f127"; }
.fb-icon-fingerprint:before { content: "\f11e"; }
.fb-icon-fingerprint-book:before { content: "\f11f"; }
.fb-icon-fingerprint-download-circle:before { content: "\f120"; }
.fb-icon-flightdeck:before { content: "\f100"; }
.fb-icon-gear:before { content: "\f128"; }
.fb-icon-goodreads:before { content: "\f134"; }
.fb-icon-goodreads-square:before { content: "\f13d"; }
.fb-icon-goodreads-square-o:before { content: "\f13e"; }
.fb-icon-graph:before { content: "\f14c"; }
.fb-icon-graph-circle:before { content: "\f151"; }
.fb-icon-indie:before { content: "\f12c"; }
.fb-icon-info:before { content: "\f154"; }
.fb-icon-info-circle:before { content: "\f156"; }
.fb-icon-info-circle-o:before { content: "\f157"; }
.fb-icon-insights-logo:before { content: "\f161"; }
.fb-icon-kobo:before { content: "\f135"; }
.fb-icon-linkedin:before { content: "\f13f"; }
.fb-icon-linkedin-square:before { content: "\f140"; }
.fb-icon-linkedin-square-o:before { content: "\f141"; }
.fb-icon-map-pin:before { content: "\f12d"; }
.fb-icon-mute:before { content: "\f133"; }
.fb-icon-netgalley:before { content: "\f118"; }
.fb-icon-netgalley-circle:before { content: "\f15d"; }
.fb-icon-netgalley-full:before { content: "\f12e"; }
.fb-icon-nut-down:before { content: "\f15e"; }
.fb-icon-nut-up:before { content: "\f15f"; }
.fb-icon-open-book:before { content: "\f126"; }
.fb-icon-pencil:before { content: "\f131"; }
.fb-icon-pencil-square-o:before { content: "\f105"; }
.fb-icon-pencil-vertical:before { content: "\f132"; }
.fb-icon-pinterest:before { content: "\f10b"; }
.fb-icon-pinterest-circle:before { content: "\f10c"; }
.fb-icon-plus-circle:before { content: "\f15b"; }
.fb-icon-plus-circle-o:before { content: "\f15c"; }
.fb-icon-protected:before { content: "\f121"; }
.fb-icon-protected-download-circle:before { content: "\f122"; }
.fb-icon-stamp:before { content: "\f124"; }
.fb-icon-stopwatch:before { content: "\f158"; }
.fb-icon-tablet:before { content: "\f11a"; }
.fb-icon-tachometer:before { content: "\f129"; }
.fb-icon-thermometer:before { content: "\f152"; }
.fb-icon-thermometer-circle:before { content: "\f153"; }
.fb-icon-thumbsdown:before { content: "\f101"; }
.fb-icon-thumbsup:before { content: "\f102"; }
.fb-icon-tiktok-square:before { content: "\f16b"; }
.fb-icon-tiktok-square-o:before { content: "\f16c"; }
.fb-icon-tumblr:before { content: "\f10d"; }
.fb-icon-tumblr-circle:before { content: "\f10e"; }
.fb-icon-twitter:before { content: "\f10f"; }
.fb-icon-twitter-alt:before { content: "\f142"; }
.fb-icon-twitter-alt-circle:before { content: "\f143"; }
.fb-icon-twitter-square:before { content: "\f144"; }
.fb-icon-twitter-square-o:before { content: "\f145"; }
.fb-icon-user-admin:before { content: "\f123"; }
.fb-icon-user-plus:before { content: "\f11b"; }
.fb-icon-user-profile:before { content: "\f12f"; }
.fb-icon-verified:before { content: "\f137"; }
.fb-icon-waterstones:before { content: "\f146"; }
.fb-icon-waterstones-caption:before { content: "\f147"; }
.fb-icon-wave-circle:before { content: "\f139"; }
.fb-icon-wave-circle-o:before { content: "\f13a"; }
.fb-icon-wishbone:before { content: "\f103"; }
.fb-icon-wishbone-circle:before { content: "\f11c"; }

$font-font-firebrand-amazon: "\f12a";
$font-font-firebrand-approve: "\f116";
$font-font-firebrand-arrow-back-down: "\f112";
$font-font-firebrand-arrow-back-left: "\f113";
$font-font-firebrand-arrow-back-right: "\f114";
$font-font-firebrand-arrow-back-up: "\f115";
$font-font-firebrand-audio_excerpt: "\f162";
$font-font-firebrand-barnesandnoble: "\f136";
$font-font-firebrand-bn: "\f12b";
$font-font-firebrand-bolt-book: "\f125";
$font-font-firebrand-camera: "\f130";
$font-font-firebrand-cat-down: "\f148";
$font-font-firebrand-cat-up: "\f149";
$font-font-firebrand-check-circle: "\f159";
$font-font-firebrand-check-circle-o: "\f15a";
$font-font-firebrand-clock: "\f106";
$font-font-firebrand-decline: "\f117";
$font-font-firebrand-digital: "\f14e";
$font-font-firebrand-digital-circle: "\f14f";
$font-font-firebrand-document: "\f14b";
$font-font-firebrand-document-circle: "\f150";
$font-font-firebrand-download: "\f107";
$font-font-firebrand-email: "\f108";
$font-font-firebrand-excerpt: "\f163";
$font-font-firebrand-facebook: "\f109";
$font-font-firebrand-facebook-circle: "\f10a";
$font-font-firebrand-facebook-square: "\f13b";
$font-font-firebrand-facebook-square-o: "\f13c";
$font-font-firebrand-filter: "\f127";
$font-font-firebrand-fingerprint: "\f11e";
$font-font-firebrand-fingerprint-book: "\f11f";
$font-font-firebrand-fingerprint-download-circle: "\f120";
$font-font-firebrand-flightdeck: "\f100";
$font-font-firebrand-gear: "\f128";
$font-font-firebrand-goodreads: "\f134";
$font-font-firebrand-goodreads-square: "\f13d";
$font-font-firebrand-goodreads-square-o: "\f13e";
$font-font-firebrand-graph: "\f14c";
$font-font-firebrand-graph-circle: "\f151";
$font-font-firebrand-indie: "\f12c";
$font-font-firebrand-info: "\f154";
$font-font-firebrand-info-circle: "\f156";
$font-font-firebrand-info-circle-o: "\f157";
$font-font-firebrand-insights-logo: "\f161";
$font-font-firebrand-kobo: "\f135";
$font-font-firebrand-linkedin: "\f13f";
$font-font-firebrand-linkedin-square: "\f140";
$font-font-firebrand-linkedin-square-o: "\f141";
$font-font-firebrand-map-pin: "\f12d";
$font-font-firebrand-mute: "\f133";
$font-font-firebrand-netgalley: "\f118";
$font-font-firebrand-netgalley-circle: "\f15d";
$font-font-firebrand-netgalley-full: "\f12e";
$font-font-firebrand-nut-down: "\f15e";
$font-font-firebrand-nut-up: "\f15f";
$font-font-firebrand-open-book: "\f126";
$font-font-firebrand-pencil: "\f131";
$font-font-firebrand-pencil-square-o: "\f105";
$font-font-firebrand-pencil-vertical: "\f132";
$font-font-firebrand-pinterest: "\f10b";
$font-font-firebrand-pinterest-circle: "\f10c";
$font-font-firebrand-plus-circle: "\f15b";
$font-font-firebrand-plus-circle-o: "\f15c";
$font-font-firebrand-protected: "\f121";
$font-font-firebrand-protected-download-circle: "\f122";
$font-font-firebrand-stamp: "\f124";
$font-font-firebrand-stopwatch: "\f158";
$font-font-firebrand-tablet: "\f11a";
$font-font-firebrand-tachometer: "\f129";
$font-font-firebrand-thermometer: "\f152";
$font-font-firebrand-thermometer-circle: "\f153";
$font-font-firebrand-thumbsdown: "\f101";
$font-font-firebrand-thumbsup: "\f102";
$font-font-firebrand-tiktok-square: "\f16b";
$font-font-firebrand-tiktok-square-o: "\f16c";
$font-font-firebrand-tumblr: "\f10d";
$font-font-firebrand-tumblr-circle: "\f10e";
$font-font-firebrand-twitter: "\f10f";
$font-font-firebrand-twitter-alt: "\f142";
$font-font-firebrand-twitter-alt-circle: "\f143";
$font-font-firebrand-twitter-square: "\f144";
$font-font-firebrand-twitter-square-o: "\f145";
$font-font-firebrand-user-admin: "\f123";
$font-font-firebrand-user-plus: "\f11b";
$font-font-firebrand-user-profile: "\f12f";
$font-font-firebrand-verified: "\f137";
$font-font-firebrand-waterstones: "\f146";
$font-font-firebrand-waterstones-caption: "\f147";
$font-font-firebrand-wave-circle: "\f139";
$font-font-firebrand-wave-circle-o: "\f13a";
$font-font-firebrand-wishbone: "\f103";
$font-font-firebrand-wishbone-circle: "\f11c";
